<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calhacksalpha.dawwwskigrowl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoogleMapsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MyLocationDemoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".HereMapsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InvitesActivity"
            android:label="@string/app_name" >
        </activity>
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDH3om-XzjaJ0P6GUWYrBwvY6tjbeAS3JA" />
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="NUZoznJ3Mn8ZaTlHAN5B" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="kHOiRIWoLj7E0avvsxc7DA" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="DE21IBFyYyXA4A6FaA9HN14SKe+ilw93OUgnY3aZSDpM6paNkmKAWv0boKCP9MtkGeEECqZLEoVJvak9zd69y2pLYAVtQXXoi3S14mN2ji/Us3cTsi2tmX9dyA81KgkgrcXQ+SWWpUCeNAEFzIF4yMx8FeKT3yI+uolLu7pHytsOYtDjV3zPNt+FOMvMb/b+yVoecYpO/XZubXvecpAePomMWlDM2Y2l5E8DbSoGo8vTKtkGwGfk8MXLIc91oV3bOOzbGQ7mWqYC3ucQ7TvKxAdl50CVLx0yVIf2wQNcd6gh6edB2jKOUGNWZ0SlMvzsbI7B51m+ttU5nDBPUUqwLtiojUJJEt2G4sv/3gMu7gyf3KiyzwuS8H4ov6IwcwRefZQXJMudPkIqznKoZAYeFbTAN0YLe7tgSGwhDe39y7rPbpME8wxNzFwCu6/5Zdf1Tq9RYOS8xMGPML7egaRCbn7cCi7TdoV2HHdToLdjOntxmF9+MFnDHJBnARb6PDrcfTnBToSMjB34KhHFPpBCXtHvjAEX7r2FmLsqpgrAyIXJMuXwe+6qSOkJHzJYVWJ6clFZOYtbyGJqzcldtr19KvKZmt6WOjn1lEaxqXqFFz7Meco7dSe16VljJ5DfzJer6rVoxwykzyuMwb4Vc2VVxchbd8It4n5GhKwRxpqynYA=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2" >
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>